/*------------------------------------------
  Responsive Grid Media Queries - 1920, 1200, 1020
   1920-1024   - desktop (default grid)
   1200        - center area
--------------------------------------------*/

/* OutSilde Layout */

.full-screen .lay-top{
    width: 100%;
    height: 568px;
    background-size: cover;
    background-position: center center;
    background-image: url("../../resourse/mainphoto/mainbanner_1.png");
}

.full-screen .lay-company-first{
    width: 100%;
    height: 614px;
}
.full-screen .lay-company-second{
    width: 100%;
    height: 813px;
    background-color: #f5f5f5;
}

.full-screen .lay-company-third{
    width: 100%;
    height: 748px;
    background-image: url("../../resourse/aboutphoto/ceocomment_bg.png");
    border: solid 2px #1433fb;
    background-position: center;
    background-size: cover;
}

.full-screen .lay-company-forth{
    width: 100%;
    height: 460px;
}
.full-screen .lay-company-last{
    width: 100%;
    height: 203px;
    background-color: #1e1e1e;
    border: 1px solid;

}

/* inSilde-center Layout */

.center-smallText{
    margin: 30px 0 0 0;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: center;
    color: #424242;
}

.center-aboutArea{
    height: 614px;
    justify-content: center;
    align-items: center;
    display: flex;

}
.center-about{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.center-aboutText{
    font-family: MalgunGothic;
    font-size: 28px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}


.center-historyArea{
    height: 813px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.history-imgArea{

}
.history-imgSize{
    width: 610px;
    height: 532px;
    border: solid 2px #1433fb;
}


.center-commentArea{
    height: 748px;
    justify-content: center;
    align-items: center;
    display: flex;
    /* background-image: cover;
    background-position: center center;
    background-image: url("../../resourse/aboutphoto/ceocomment_bg.png"); */
}
.center-commentText{
    font-family: MalgunGothic;
    font-size: 26px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.54;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}

.center-commetSign{
    flex: 1;
    float: right;
}
.sign-area{
    width: 184px;
    height: 40px;
    margin: 60px 61px 0 217px;
    border: solid 2px #1433fb;
}
.partners-slideArea{
    width: 1104px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide-btn-left{
    position: relative;
    width: 48px;
    height: 48px;
    margin: 21px 0 21px 0;
    padding: 12px;
    opacity: 0.7;
    background-color: #000000;
    float: left;
}

.slide-btn-right{
    position: relative;
    width: 48px;
    height: 48px;
    margin: 21px 0 21px 0;
    padding: 12px;
    opacity: 0.7;
    background-color: #000000;
    float: right;
}


.partners-iconList{
    height: 90px;
    width: 997px;
    display: flex;
    overflow: hidden;
}
.partners-icon{
    display: flex;
    align-items: center;
    text-align: center;
    width: 270px;
    height: 90px;
    padding: 0 75px;
}
.partners-iconImg{
    width: 120px;
    height: 90px;
    border: solid 2px #1433fb;
}

.center-partnerArea{
    height: 460px;
    justify-content: center;
    align-items: center;
    display: flex;
}

/* center main content */
.main-contenta{
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid;

}

.content-logoSizea{
    width: 73px;
    height: 69px;
    border: solid 2px #1433fb;
}

