/* OutSilde Layout */

.full-screen .lay-top{
  width: 100%;
  height: 568px;
  background-size: cover;
  background-position: center center;
  background-image: url("../../resourse/mainphoto/mainbanner_1.png");
}

.full-screen .lay-company-first{
  width: 100%;
  height: 614px;
}
.full-screen .lay-company-second{
  width: 100%;
  height: 3300px;
  background-color: #f5f5f5;
}

.full-screen .lay-company-third{
  width: 100%;
  height: 748px;
  background-image: url("../../resourse/aboutphoto/ceocomment_bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../resourse/aboutphoto/ceocomment_bg.png");
}

.full-screen .lay-company-forth{
  width: 100%;
  height: 460px;
}
.full-screen .lay-company-last{
  width: 100%;
  height: 203px;
  background-color: #1e1e1e;
  border: 1px solid;

}

/* inSilde-center Layout */

.center-smallText{
  margin: 30px 0 0 0;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: center;
  color: #424242;
}

.center-aboutArea{
  padding: 140px 0 138px 0;
  height: 614px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.center-about{
  justify-content: center;
  align-items: center;
  text-align: center;
}

.center-aboutText{
  font-size: 28px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}

.center-historyArea{
  height: 3330px;
  justify-content: center;
  align-items: center;
  padding: 150px 0 102px 0;
}

.center-history{
padding-bottom: 38.5px;
}

.history-imgSize{
  width: 610px;
  height: 532px;
}


.center-commentArea{
  height: 748px;
  padding-top: 124px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.center-commentText{
  font-size: 26px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}

.center-commetSign{
  flex: 1;
  float: right;
}
.sign-area{
  width: 184px;
  height: 40px;
  margin-top : 60px;
}
.partners-slideArea{
  width: 1104px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.partners-iconImg{
  width: 120px;
  height: 90px;
}

.partners-iconImgCenter{
  width: 120px;
  height: 90px;
  margin-left: 200px;
  margin-right: 200px;
}

.center-partnerArea{
  height: 460px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  z-index: 0;
}

/* 가운데 라인 */
.timeline::after {
  content: '';
  position: absolute;
  width: 2px;
  background-color: #cccccc;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
}

/* Container around content */
.container {
  padding-bottom: 112px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.containerLast {
  position: relative;
  background-color: inherit;
  width: 50%;
  margin-top: -8px;
}



/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* 히스토리 왼쪽 선 */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 27px;
  width: 0;
  z-index: 1;
  right: 8px;
  border: medium solid white;
  border-width: 1px 0 0 28px ;
  border-color: #D40B0B;
}

/* 히스토리 마지막왼쪽 선 */
.leftLast::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 27px;
  width: 0;
  z-index: 1;
  right: 10px;
  border: medium solid white;
  border-width: 1px 0 0 28px ;
  border-color: #D40B0B;
}

/* 히스토리 오른쪽 선 */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 27px;
  width: 0;
  z-index: 1;
  left: 8px;
  border: medium solid white;
  border-width: 0 0 1px 28px;
  border-color: #D40B0B;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -8px;
}

.contentRight {
  padding-left: 50px;
  padding-top: 17px;
  position: relative;
  text-align: left;
}

/* The actual content */
.contentLeft {
  padding-right: 50px;
  padding-top: 17px;
  position: relative;
  text-align: right;
}

.yearText {
  color: #D40B0B;
  font-size: 18px;
  font-weight: bold;
  width: 55px;
}

.startText {
  color: #D40B0B;
  font-size: 24px;
  font-weight: bold;
  width: 55px;
  margin-top: -6px;
}

.historyTitle {
  font-weight: bold;
  color: #424242;
  font-size: 16px;
  padding-top: 4px;
}

.historyNoboldTitle {
  color: #424242;
  font-size: 16px;
  padding-top: 4px;
}


.historyTopTitle {
  font-weight: bold;
  color: #424242;
  font-size: 16px;
  padding-top: 2px;
}


.historyNoboldTopTitle {
  color: #424242;
  font-size: 16px;
  padding-top: 2px;
}


.historyTopLastTitle {
  font-weight: bold;
  color: #424242;
  font-size: 18px;
  padding-right: 10px;
}

.historySub {
  color: #565656;
  font-size: 14px;
  padding-top: 4px;
}


.historyTopSub {
  color: #565656;
  font-size: 14px;
  padding-top: 4px;
}

.hitoryInnerLeftDiv {
  padding-right: 55px;
}

.hitoryInnerRightDiv {
  padding-left: 55px;
}

/* 가운데 점 2010*/

.containerNoitem {
  position: relative;
  background-color: inherit;
  width: 50%;
  margin-top: -50px;
  padding-bottom: 180px;
}


.containerNoitem::after {
  content: '2010';
  font-size: 26px;
  font-weight: bold;
  line-height: 70px;
  text-align: center;
  color: #ffffff;
  position: absolute;
  width: 74px;
  height: 74px;
  right: -42px;
  background-color: #D40B0B;
  border: 4px solid #D40B0B;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}


/* 가운데 점 2020*/

.containerNoitemTop {
  position: relative;
  background-color: inherit;
  width: 50%;
  margin-top: -50px;
  padding-bottom: 180px;
}

.containerNoitemTop::after {
  content: '2020';
  font-size: 26px;
  font-weight: bold;
  line-height: 70px;
  text-align: center;
  color: #ffffff;
  position: absolute;
  width: 74px;
  height: 74px;
  right: -42px;
  background-color: #D40B0B;
  border: 4px solid #D40B0B;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* 점 */
.container::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  right: -8px;
  background-color: #D40B0B;
  top: 20px;
  border-radius: 50%;
  z-index: 1;
}

/* 마지막 점 */
.containerLast::after {
  position: absolute;
  width: 40px;
  height: 40px;
  font-size: 28px;
  right: -21px;
  background-color: transparent;
  border: 1px solid #D40B0B;
  color: #D40B0B;
  top: 7px;
  border-radius: 50%;
  z-index: 0;
  content: "●";
  text-align: center;
  line-height: 33px;
}