/* OutSilde Layout */
/* 각페이지 고유 가변사이즈 */
  .lay-mobile-first-about{
    width: 100%;
    height: 561px;
  }
  
  .lay-mobile-second-about{
    width: 100%;
    height: 2179px;
    /* border: 1px solid;
    background-color: #f5f5f5; */
    z-index: 2;
  }
  
  .lay-mobile-third-about{
    width: 100%;
    height: 991.5px;
    background-size: cover;
    background-image: url("../../resourse/m.about/mbg_ceocomment.png");
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .lay-mobile-forth-about{
    width: 100%;
    height: 386.5px;
  }


.m-center-imgtitle{
    width: 100%;
    height: 255px;
    font-size: 22px;
    padding-top: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}


/* inSilde-center Layout */

.m-center-topspaceArea{
    padding-top: 70px;
    justify-content: center;
    align-items: center;
}

.m-center-aboutArea{
    height: 561px;
}

.m-center-aboutText{
    margin-top: 32.5px;
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.76;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}

.m-history-imgSize{
    width: 297px;
    margin-top: 45px;
    background-size: cover;
    background-position: center center;
    background-image: url(../../resourse/m.about/mhistory.png);
}

/* -----------   Ceo Comment -------------- */

.m-center-commentArea{
    background-size: cover;
    background-position: center center;
    background-image: url("../../resourse/m.about/mbg_ceocomment.png");
    margin-top: 20px;
    border-bottom: solid 1px #e0e0e0;
}

.m-center-commentText{
    margin-top: 32.5px;
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.76;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    word-break: keep-all;
}


.m-partners-slideArea{
    width: 1104px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.m-slide-btn-left{
    position: relative;
    width: 48px;
    height: 48px;
    margin: 21px 0 21px 0;
    padding: 12px;
    opacity: 0.7;
    float: left;
}

.m-slide-btn-right{
    position: relative;
    width: 48px;
    height: 48px;
    margin: 21px 0 21px 0;
    padding: 12px;
    opacity: 0.7;
    float: right;
}

/* -----------   partner -------------- */

.m-partners-iconList{
    height: 90px;
    width: 997px;

    display: flex;
    overflow: hidden;
}
.m-partners-icon{
    display: flex;
    align-items: center;
    text-align: center;
    width: 270px;
    height: 90px;
    padding: 0 75px;
}

.m-partners-iconImg{
    width: 120px;
    height: 90px;
    margin: 0 73px 0 73px;
}

.m-center-partnerArea{
    height: 386px;
    padding: 79px 47px 0 47px;
}


.m-parter-logoArea{
    width: 100%;
    margin-top: 32.5px;
    background-color: #ffffff;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.m-partners-logos{
    width: 264px;
    height: 90px;
    margin: 0 73px 0 73px;
    /* overflow: hidden; */
    display: flex;
    /* justify-content: center; */
    background-color: #ffffff;
}

.m-slidePage{
    width: 22p;
    padding-top: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.m-able-circle{
    width: 6px;
    height: 6px;
    cursor: pointer;
    margin: 0 4px 0 4px;
    border-radius: 3px;
    background-color: #d40b0b;
    outline: none;
    border: none;
}

.m-disable-circle{
    width: 6px;
    height: 6px;
    cursor: pointer;
    border-radius: 3px;
    margin: 0 4px 0 4px;
    background-color: #e0e0e0;
    outline: none;
    border: none;
}