/* inSilde-center Layout */
.patent-topText{
    padding-top: 144px;
}

.patent-titleText{
    font-size: 36px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}

.patent-subDiscrip{
    font-size: 28px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}

.center-selectBtnb{
    width: 100%;
    height: 68px;
    background-color: blanchedalmond;
}


/* center content */
.center-patentArea{
    width: 1200px;
    /* display: flex; */
    padding-bottom: 100px;
}

.patent-imgArea{
    width: 1200px;
    display: inline-flex;
}

.patent-imgSize{
    display: inline-block;
    background-color: #ffffff;
}
.icon-outLine{
    width: 295px;
    height: 456px;
    padding: 20px;
    background-color: #ffffff;
    display: inline-table;
}
.icon-size{
    width: 260px;
    border: solid 1px #eeeeee;
}
.icon-descrip{
    margin-top: 8px;    
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}

