/*------------------------------------------
Responsive Grid Media Queries - 1920, 1200, 1020
1920-1024   - desktop (default grid)
1200        - center area
--------------------------------------------*/

.full-screen .lay-mid-firstb{
    width: 100%;
    height: 413px;

}
.full-screen .lay-mid-secondb{
    width: 100%;
    height: 413px;
}

.full-screen .lay-mid-thirdb{
    width: 100%;
    height: 810px;
}
.full-screen .lay-mid-forthb{
    width: 100%;
    height: 203px;
}
.full-screen .lay-mid-lastb{
    width: 100%;
    height: 203px;
}


/* inSilde-center Layout */
.screen-centerArea{
    position: relative;
    min-width:  1200px;
    width:  1200px;
    background-position:right center;
}
/* .center-patent{
    position: absolute;
    width: 100%;
    height: 2963px;
} */

.patent-topText{
    padding-top: 144px;
}

.patent-titleText{
    font-family: MalgunGothic;
    font-size: 36px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}

.patent-subDiscrip{
    font-family: MalgunGothic;
    font-size: 28px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}

.center-selectBtnb{
    width: 100%;
    height: 68px;
    background-color: blanchedalmond;
}


/* center content */
.center-patentArea{
    width: 1200px;
    display: flex;
    padding-bottom: 100px;
}

.patent-imgArea{
    width: 1200px;
}

.patent-img-row{
    display: flex;
    width: 1197px;
    height: 456px;
    margin: 20px 0 20px;
    background-color: #ffffff;
}

.patent-imgSize{
    display: flex;
    background-color: #ffffff;
}
.icon-outLine{
    width: 295px;
    height: 456px;
    padding: 20px;
    background-color: #ffffff;
}
.icon-size{
    width: 260px;
    border: solid 1px #eeeeee;
}
.icon-descrip{
    margin-top: 8px;    
    font-family: MalgunGothic;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}

