
body {
	text-align: center;
	margin: auto !important;
    float : none !important;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Noto Sans KR, sans-serif;
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
    user-select: none;	
    background-position: left;
    background-repeat: no-repeat;

}


* {
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-khtml-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

a{
	text-decoration: none;
    outline: none;
    color: black;
}


.a:hover{
	color: none;
	text-decoration: none;
    outline: none;
}


header{
    position: fixed;
    display: flex;
    min-width: 1200px;
    background-position:right center;
    background-color: rgba(0,0,0,0);
    z-index: 1;
}

footer{
    position: absolute;
    min-width: 1200px;
    height: 202px;
    background-position:right center;
    align-items: center;
    justify-content: center;
}

/*------------------------------------------
  Responsive Grid Media Queries - 1920, 1200, 1020
   1920-1024   - desktop (default grid)
   1200        - center area
--------------------------------------------*/
/* For desktop: */
/* @media only screen and (min-width: 1200px){
	.clearBoth{
		clear : both;
	} */
	
.full-screen-modal{
    position: relative;
    display: flex;
    min-width: 1200px;
    width: 100%;
    justify-content:center;
    align-content:center;
    background-position:center;
    border: 1px solid;

}

/* OutSilde Layout */
.screen-layouta{
    position: absolute;
    width: 100%;
    height: 3406px;
    border: 1px solid;
    background-color: lightyellow;

}

.full-screen-modal .lay-top{
    width: 100%;
    height: 568px;
    border: 1px solid;
    background-size: cover;
    background-position: center center;
    background-image: url("../../resourse/mainphoto/mainbanner_1.png");

}

.full-screen-modal .lay-mid-first{
    width: 100%;
    height: 614px;
    border: 1px solid;
    background-color: lightgray;

}
.full-screen-modal .lay-mid-second{
    width: 100%;
    height: 813px;
    border: 1px solid;
    background-color: lightcoral;

}

.full-screen-modal .lay-mid-third{
    width: 100%;
    height: 748px;
    background-color: white;
    border: 1px solid;

}
.full-screen-modal .lay-mid-forth{
    width: 100%;
    height: 460px;
    background-color: red;
    border: 1px solid;

}
.full-screen-modal .lay-mid-last{
    width: 100%;
    height: 203px;
    background-color: #1e1e1e;
    border: 1px solid;

}

/* .full-screen-cp .lay-mid-last{
    position: absolute;
    width: 100%;
    height: 140px;
    background-color: #343434;
    border: 1px solid;
    background-color: lightyellow;
} */



/* inSilde-center Layout */
.screen-centerArea{
    position: relative;
    min-width:  1200px;
    height: 3406px;
    background-position:right center;
    border: 1px solid;

}
.center-imageArea{
    position: absolute;
    width: 100%;
    height: 568px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid;
    display:flex
}

.center-selectBtn{
    width: 100%;
    height: 68px;
    background-color: blanchedalmond;
}

.center-aboutArea{
    
}



/* center main content */
.main-contenta{
    width: 1200px;
    height: 3204px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid;

}

.content-logoSizea{
    width: 73px;
    height: 69px;
    /* margin: 129px 923px 2px 924px; */
    border: solid 2px #1433fb;
}




/* } */