
/* desktop */
.full-screen .lay-top .lay-topImg{
    position: relative;
    width: 100%;
    height: 890px;
    background-size: cover;
    background-position: center center;
    background-image: url("../../resourse/mainphoto/mainbanner_1.png");
}

.full-screen .lay-topImgNext{
    position: absolute;
    width: 100%;
    height: 890px;
    background-size: cover;
    background-position: center center;
    top: 0;
    
    animation-name: fadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-direction: alternate;
    background-image: url("../../resourse/mainphoto/mainbanner_2.png");

}

@keyframes fadeInOut {
    0% {
        opacity: 1;
    }
    45% {
        opacity: 1;
    }
    55% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}


.full-screen .lay-home-second{
    width: 100%;
    height: 402px;
}

/* inSilde-center Layout */
.outSilde-image{
    position: absolute;
    width: 100%;
    /* height: 94s0px; */
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* center main content */
.main-content{
    width: 1200px;
    height: 1293px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.content-area{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 150px;
}
.content-topText{
    width: 1200px;
    height: 260px;
    margin-top: 35px;
    padding-top: 50px;
    color: #ffffff;
    font-family: MalgunGothic;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.content-logoText{
    width: 1200px;
    height: 24px;
    /* margin: 2px 853px 14px; */
    font-family: MalgunGothic;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #e0e0e0;

}
.content-logoImg{
    width: 1200px;
}

.content-logoSize{
    width: 73px;
    height: 69px;
}


.content-mainText{
    position: absolute;
    width: 1200px;
    height: 118px;
    margin-top: 14px;
    font-family: MalgunGothic;
    font-size: 44px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.34;
    letter-spacing: normal;
    text-align: center;
}




/* center inside content(top) */
.inside-content{
    position: relative;
    width: 1200px;
    margin-top: 165px;
}
.inside-content .inside-top{
    width: 100%;
    height: 300px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 2;
}

.bToCorB{
    width: 600px;
    height: 300px;
    opacity: 95%;
    background-color: #ffffffff;
}

.bToCorB-textArea{
    width: 600px;
    height: 170px;
    text-align: left;
    padding: 43px 0 0 28px;
    
}
.bTob-topic{
    width: 400px;
    height: 37px;
    margin: 0 320px 6px 0;
    font-family: MalgunGothic;
    font-size: 28px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.32;
    letter-spacing: normal;
    text-align: left;
    color: #d40b0b;
}
.bTob-words{
    width: 400px;
    font-family: MalgunGothic;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #565656;
}



.patent{
    width: 600px;
    height: 300px;
    background-color: #1e1e1e;
}

.patent-textArea{
    width: 600px;
    height: 170px;
    text-align: left;
    padding: 43px 0 0 28px;
    
}

.patent-topic{
    width: 52px;
    height: 37px;
    margin: 0 320px 6px 0;
    font-family: MalgunGothic;
    font-size: 28px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.32;
    letter-spacing: normal;
    text-align: left;
    color: #d40b0b;
}
.patent-words{
    width: 400px;
    font-family: MalgunGothic;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #e0e0e0;
}

.bToCorB-imgArea{
    width: 600px;
    height: 130px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    padding: 0px 20px 23px 0px;
}

.center-clickImg{
    height: 108px;
    float: right;
}
.center-iconSize{
    width: 180px;
}

/* center inside content(bottom) */
.inside-content .inside-bottom{
    height: 300px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about-us{
    width: 400px;
    height: 300px;
    padding: 43px 0px 20px 28px;
    text-align: left;
    background-color: #b80000;
}
.aboutUs-textArea{
    height: 189px;
}



.aboutUs-topic{
    height: 37px;
    margin: 0 0 11px 0;
    font-family: MalgunGothic;
    font-size: 28px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.32;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}
.aboutUs-words{
    font-family: MalgunGothic;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #e0e0e0;
}

.aboutUs-imgArea{
    height: 48px;
    margin-right: 20px;
}

.aboutUs-imgSize{
    height: 48px;
    width: 98px;
    float: right;
}


.inbotm-image{
    height: 300px;
}

.inbotm-imgSize{
    width: 400px;
    height: 300px;
}

.contact{
    width: 401px;
    height: 300px;
    padding: 48px 88px 46px;
    background-color: #d8d5d4;
}

.content-imgSize{
    text-align: center;
    vertical-align: middle;
    align-items: center;
    color: #9e9e9e;
}
.content-imgSize.material-icons{
    align-items: center;
    vertical-align: middle;
    width: 100px;
    border: solid 1px #cccccc;
}

.content-communi{
    width: 122px;
    height: 24px;
    margin: 3px 51px 6px;
    font-family: MalgunGothic;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #9e9e9e; 
}

.content-detail{
    height: 23px;
    margin-top: 4px;
    font-family: MalgunGothic;
    font-size: 17px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: normal;
    color: #757575;
}

.home-icon{
    width: 24px;
    height: 24px;
    color: #9e9e9e;
}
