/* main content */
.m-second-home-content{
    position: relative;
    width: 100%;
    height: 262px;
}

.m-embed-img{
    position: absolute;
    display: flex;
    width: 100%;
    height: 262px;
    background-image: url('../../resourse/m.main/mbg_main-es.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;
}

.m-embed-textArea{
    position: absolute;
    height: 140px;
    padding: 0 16px 0 16px;
    word-break: keep-all;
    bottom: 0;
    /* background-color: lightyellow; */
    /* text-align: right; */
}

.m-embed-topic{
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #d40b0b;
    text-align: right;
}
.m-embed-descrip{
    margin-top: 12px;
    font-size: 13px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.54;
    letter-spacing: normal;
    text-align: right;
    color: #565656;
}



.m-third-home-content{
    width: 100%;
    height: 262px;
    background-image: url('../../resourse/m.main/mbg_main-patent.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right top;
}


.m-patent-img{
    width: 100%;
    display: flex;
    z-index: 1;
    
}

.m-patent-textArea{
    /* width: 100%; */
    position: absolute;
    height: 262px;
    width: 325px;
    /* background-color: lightyellow; */
    text-align: left;
    /* z-index: 2; */
    align-items: center;
    padding-top: 125px;
    word-break: keep-all;
}

.m-patent-topic{
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #d40b0b
}

.m-patent-descrip{
    margin-top: 18px;
    font-size: 13px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.54;
    letter-spacing: normal;
    text-align: left;
    color: #e0e0e0;
}


.m-fourth-home-content{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    
}

.m-content-about{
    width: 50%;
    background-color: #b80000;
}

.m-about-topArea{
    position: relative;
    height: 158px;
    padding: 32px 29px 0 29px;
    font-size: 28px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.32;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.m-nextBtn{
    width: 57px;
    height: 29px;
    opacity: 0.9;
}
.m-content-image{
    width: 50%;
    height: 200px;
    background-image: url("../../resourse/m.main/mbg_main_geometry.png");
    background-size: cover;

}
.m-center-area{
    padding: 0 19px 0 19px;
}

.m-fifth-home-content{
    position: relative;
    width: 100%;
    height: 232px;
    background-color: #d8d5d4;
}
.m-contact-textArea{
    height: 232px;
    padding: 20px;
    align-items: center;
    justify-content: center;
}
.m-textArea-oneline{
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: center;
    color: #9e9e9e;
    margin: 20px 0 8px 0;

}
.m-textArea-discript{
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: center;
    color: #757575;
}

.m-home-icon{
    width: 18px;
    height: 18px;
    color: #9e9e9e;
}