.foot-inside{
    width: 1200px;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.foot-logoSide{
    width: 252px;
    font-size: 13px;
    margin: 0 68px 4px 0;
    
}

.foot-logoImg{
    width: 252px;
    height: 54px;
    margin: 0 68px 4px 0;
}

.foot-imgSize{
    width: 252px;
    height: 54px;
    margin: 0 68px 4px 0;
    border: solid 2px #1433fb;

}


.foot-wordSide{
    margin: 14px 51px 10px 10.5px;
    font-size: 13px;
    font-family: MalgunGothic;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: left;
    color: #bdbdbd;
}
.foot-contectInfo{
    font-size: 13px;
    
    font-family: MalgunGothic;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: left;
    color: #bdbdbd;
}
.foot-wordSide .foot-InfoDown{
    margin-top: 10px;
}
.foot-contectInfo .foot-InfoDown{
    margin-top: 10px;
}




.foot-botmSide{
    width: 1200px;
    height: 62px;
    padding: 23px 0 0 0;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.foot-botmWord{
    height: 17px;
    font-family: MalgunGothic;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    color: #bdbdbd;
}
