
* {
-ms-box-sizing: border-box;
-moz-box-sizing: border-box;
-khtml-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
margin: 0;
padding: 0;
text-decoration: none;
}

a:link{
text-decoration: none!important;
}

body {
text-align: center;
margin: auto !important;
float : none !important;
font-family: '맑은 고딕', 'malgun gothic', 'Apple SD Gothic Neo', 'Apple SD 산돌고딕 Neo', 
'Microsoft NeoGothic',  'Droid sans', sans-serifs;
-ms-user-select: none;
-moz-user-select: -moz-none;
-khtml-user-select: none;
-webkit-user-select: none;
user-select: none;	
background-position: left;
background-repeat: no-repeat;

}


/* desktop */
.web-header{
position: fixed;
min-width: 1200px;
width: 100%;
display: flex;
z-index: 1;
align-items: center;
background-position:right center;
justify-content: center;
transition: 0.4s;
}

footer{
position: relative;
min-width: 1200px;
height: 202px;
background-color: #222222;
}


a{
text-decoration: none;
outline: none;
color: black;
}
.a:hover{
color: none;
text-decoration: none;
outline: none;
}
.full-screen{
display: flex;
position: relative;
width: 100%;
min-width: 1200px;
justify-content:center;
align-content:center;
background-position:center;
}

.full-screen-dark{
position: relative;
display: flex;
min-width: 1200px;
width: 100%;
justify-content:center;
align-content:center;
background-position:center;
}


.screen-layout{
position: absolute;
width: 100%;
}

.screen-layout-dark{
position: absolute;
width: 100%;
font-size: 34px;
font-weight: bold;
font-stretch: normal;
font-style: normal;
line-height: 1.32;
letter-spacing: normal;
text-align: center;
color: #ffffff;
}

.full-screen .lay-top{
width: 100%;
height: 568px;
background-size: cover;
background-position: center center;
background-image: url("./resourse/mainphoto/mainbanner_1.png");
}

.full-screen-dark .lay-top-dark{
width: 100%;
height: 418px;
background-color: #222222;
}



.top-main-image{
width: 1200px;
color: #ffffff;
text-align: center;
}



.top-textWord{
width: 100%;
text-align: center;
}

.textWord-img{
width: 73px;
height: 69px;
}


.textWord-small{
width: 1200px;
height: 24px;
font-size: 18px;
font-weight: normal;
font-stretch: normal;
font-style: normal;
line-height: 1.33;
letter-spacing: normal;
text-align: center;
color: #e0e0e0;
}

.text-fixedArea{
width: auto;
padding-top: 60px;
}


.text-changeArea{
position: relative;
display: flex;
justify-content: center;
align-items: center;

}

.textWord-big{
width: 1200px;
height: 118px;
margin-top: 14px;
font-size: 44px;
font-weight: bold;
font-stretch: normal;
font-style: normal;
line-height: 1.34;
letter-spacing: normal;
text-align: center;

animation-name: fadeInOut;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-duration: 5s;
animation-direction: alternate;
}


.textWord-Next{
position: absolute;
width: 1200px;
height: 118px;
margin-top: 14px;
font-size: 44px;
font-weight: bold;
font-stretch: normal;
font-style: normal;
line-height: 1.34;
letter-spacing: normal;
text-align: center;

animation-name: fadeOutIn;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-duration: 5s;
animation-direction: alternate;
}


.full-screen .lay-top .lay-topImg{
position: relative;
width: 100%;
height: 890px;
background-size: cover;
background-position: center center;
background-image: url("./resourse/mainphoto/mainbanner_1.png");
}


.full-screen .lay-topImgNext{
position: absolute;
width: 100%;
height: 890px;
background-size: cover;
background-position: center center;
top: 0;

animation-name: fadeInOut;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-duration: 5s;
animation-direction: alternate;
background-image: url("./resourse/mainphoto//mainbanner_2.png");

}

@keyframes fadeInOut {
0% {
opacity: 1;
}
45% {
opacity: 1;
}
55% {
opacity: 0;
}
100% {
opacity: 0;
}
}

@keyframes fadeOutIn {
0% {
    opacity: 0;
}
45% {
    opacity: 0;
}
55% {
    opacity: 1;
}
100% {
    opacity: 1;
}
}




.full-screen .lay-home-second{
width: 100%;
height: 402px;
}

.screen-centerArea{
position: relative;
min-width:  1200px;
width:  1200px;
}


.center-imageArea{
position: relative;
width: 100%;
height: 568px;
justify-content: flex-end;
align-items: flex-end;
display:flex
}
.center-topWord{
width: 100%;
display: block;
}

.center-selectBar{
width: 100%;
display: flex;

}
.select-Button{
width: 33%;
height: 68px;
display: flex;
font-size: 23px;
font-weight: bold;
font-stretch: normal;
font-style: normal;
line-height: 2.09;
letter-spacing: normal;
text-align: center;
align-items: center;
justify-content: center;
background-color: red;
color: #ffffff;
}
.disable-Button{
width: 33%;
height: 68px;
display: flex;
font-size: 23px;
font-weight: bold;
font-stretch: normal;
font-style: normal;
line-height: 2.09;
letter-spacing: normal;
text-align: center;
align-items: center;
justify-content: center;
background-color: #000000;
color: #ffffff;
opacity: 0.6;
}


/* main underline */
.underLine-area{
justify-content: center;
align-items: center;
display: flex;
}

.topic-underLine{
width: 36px;
margin: 25px 0 25px 0;
border: solid 2px #d40b0b;
background-color: #d40b0b;
}

/* contact underline */
.underLine-area-map{
justify-content: center;
align-items: center;
display: flex;
}

.topic-underLine-map{
width: 36px;
margin: 20.5px 0 30px 0;
border: solid 2px #cccccc;
background-color: #cccccc;
}


/* detail underline */
.underLine-area-es{
justify-content:  flex-start;
align-items: center;
}

.topic-underLine-es{
width: 36px;
margin: 20.5px 0 30px 0;
border: solid 2px #d40b0b;
background-color: #d40b0b;
}

